.linking a:link {
    color: #fff;  
    display: block;
    padding-top: 1.5rem;
    font-size: 2rem;
}

.navbar a:visited {
    color: #fff; 
    
}

.navbar a:hover {
    color: #EC8677;
   
}

.navbar a:active {
    color: #fff;
  
}

