a:link {
    color: #EC8677;  
    display: block;
    padding-top: 1.5rem;
    font-size: 2rem;
}

a:visited {
    color: #EC8677; 
    
}

a:hover {
    color: pink;
}

a:active {
    color:pink;
  
}

