.menu {
  margin: 1rem 0 1rem;
  color: salmon;
  font-size: 18px;
}

a:link {
    color: hotpink;
}

a:visited {
    color: hotpink;
}

a:hover {
    color: hotpink;
}

a:active {
    color: hotpink;
}
