.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: salmon;
  float: right;
}

.image {
  height: 5rem;
  width: 5rem;
  margin-bottom: 4rem;
}

.menu {
  font-size: 1.5rem;
}

a:link {
    color: hotpink;
}

a:visited {
    color: hotpink;
}

a:hover {
    color: hotpink;
}

a:active {
    color: hotpink;
}
