.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: salmon;
  float: right;
}

.image {
  height: 5rem;
  width: 5rem;
  margin-bottom: 4rem;
}

