.header {
  text-align: center;
  font-size: 7rem;
  margin: 3rem;
  font-variant: small-caps;
  color: hotpink;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}
