.header {
  text-align: center;
  font-size: 7rem;
  margin: 3rem;
  font-variant: small-caps;
  color: hotpink;
  cursor: pointer;
}

.link {
  display: block;
  padding: 1rem;
  margin: 1rem;
}

.slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image {
  display: inline-block;
  width: 30%;
  padding: 1rem;
}

.body {
  padding: 3rem;
}
