/* .container {
  margin: 1rem;
} */

.link {
  position: relative;
  top: 3rem;
  text-align: center;
  font-variant: small-caps;
  color: hotpink;
  cursor: pointer;
  display: flex;
}

.link button {
  font-size: 3rem;
  border: none;
  width: 40%;
  
}

.slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image {
  display: inline-block;
  width: 30%;
  padding: 1rem;
}

.body {
  padding: 3rem;
}
