.header {
  text-align: center;
  font-size: 7rem;
  margin: 3rem;
  font-variant: small-caps;
  color: hotpink;
  cursor: pointer;
}

.link {
  display: block;
  color: hotpink;
  line-height: 5rem;
  height: 6rem;
  margin: .5rem;
  padding-bottom: .5rem;
  text-decoration: none;
}

.linkAgain {
  display: block;
  color: hotpink;
  line-height: 3rem;
  height: 6rem;
  padding-top: .5rem;
  text-decoration: none;
}

.slider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image {
  display: inline-block;
  width: 30%;
  padding: 1rem;
}

.body {
  padding: 3rem;
}
